.hero {
  overflow: hidden;
  position: relative;
  height: 100vh;
  margin-bottom: 2.5em;
  margin-top: 0;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ededed;
  opacity: 0;
  -webkit-animation: introFade 3s 2s ease-out forwards;
  animation: introFade 3s 2s ease-out forwards;
  padding: 0;

  #heroVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 15;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: introFade 3s 2s ease-out forwards;
    animation: introFade 3s 2s ease-out forwards;

    @media only screen and (max-width: 767px) {
      height: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    margin-bottom: 0px;
    height: 80vh;
  }
  @media only screen and (max-width: 767px) {
    margin-bottom: 0px;
    height: 60vh;
  }

  div.background-image {
    background: url(http://stmedia.stimg.co/08_1008169750_12PROVE021719_53468650.JPG?w=2000);
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 60%;
    max-width: 2300px;

    &.day2 {
      background-image: url(http://stmedia.stimg.co/proving-ground-day2-cover.jpg?w=2000);
    }
  }

  .text {
    position: absolute;
    width: 100%;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    padding: 0%;

    @media only screen and (max-width: 900px) {
      width: 90%;
      top: 45%;
    }

    h1 {
      font-family: "Whitman Display";
      font-size: 60px;
      font-weight: bold;
      line-height: 1;
      color: white;
      letter-spacing: 8px;
      word-spacing: 5px;
      line-height: 1.1;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
      text-transform: uppercase;

      @media only screen and (max-width: 900px) {
        font-size: 40px;
        letter-spacing: 1px;
      }
    }
  }
}
