.series-article .l-article-body .article-body,
.series-article .l-article-body .article-author-contact,
.series-article .l-article-body .comments-section {
  width: 800px;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;

  h3 {
    font-family: Whitman Display, Georgia, Times, serif;
    font-size: 2em;
    line-height: 1.25em;
    letter-spacing: normal;
    font-weight: 400;
    padding: .5em 0 0;
    margin: 0 0 .5em;
  }
}


span.dropcap {
  font-size: 80px;
  float: left;
  font-family: "Whitman Display";
  margin-bottom: 0;
  margin-right: 10px;
  line-height: 1;
  font-weight: 400;
  margin-top: -8px;
}



.l-article-body aside.article-share {
  display: none;
}

.site-container {
  padding-top: 0;
}

.float--right {
  float: none !important;
}

.article-tools li {
  width: 45px;
  height: 45px;
}

.article-tools span.twitter,
.article-tools span.facebook {
  background-color: #d3d3d3;
}


footer.site-footer {
  margin-top: 30px;

  ul.story-nav--fit.footer-menu {
    background: transparent;
  }
}


a {
  transition: 0.5s opacity;

  &:hover {
    transition: 0.5s opacity;
    opacity: 0.5;
  }
}

div.related-media {
  float: none;
  clear: both;
}

ul.article-tools {
  display: none;
}

.site-header {
  overflow: visible !important;
}


div.series-about {
  width: 200px;
  float: right;
  margin-top: 10px;
  margin-bottom: 45px;
  margin-left: 50px;
  margin-right: -125px;

  @media only screen and (max-width: 767px) {
    // display:none;
    width: 150px;
    float: none;
    clear: both;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
  }

  img {
    @media only screen and (max-width: 767px) {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      margin-bottom: -10px;
    }
  }

  h5 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "Popular-bold";
    margin-top: 15px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 0px;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "Popular";
    margin-top: 0px;
    line-height: 1.2;

    @media only screen and (max-width: 767px) {
      margin-top: 5px;
    }
  }
}

p.hero-caption {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 24px;
  font-family: "Benton Sans";
  font-weight: normal;
  margin-top: 15px;
  letter-spacing: 0.05px;
  width: 90%;
  text-align: center;
}

span.dateline {
  text-transform: uppercase;
}

div.photo-widget {
  width: 900px;
  float: none;
  font-family: "Benton Sans";
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
  margin-left: -175px;

  @media only screen and (max-width: 900px) {
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &.float {
    width: 300px;
    float: right;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: -150px;

    @media only screen and (max-width: 900px) {
      width: 50%;
      float: none;
      clear: both;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  img {
    width: 100%;

    @media only screen and (max-width: 900px) {
      min-width: 130%;
      margin-left: -15%;
    }
  }

  div.inline {
    margin-top: 8px;

    img {
      display: inline-block;
      width: 49.5%;

      &.first {
        margin-right: 0.55559%;

        @media only screen and (max-width: 900px) {
          margin-right: 0;
          margin-bottom: 8px;
        }
      }

      @media only screen and (max-width: 900px) {
        display: block;
        width: 100%;
      }
    }
  }

  p.caption {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 24px;
    font-family: "Benton Sans";
    font-weight: normal;
    margin-top: 15px;
    letter-spacing: 0.05px;
    width: 100%;
  }
}





section.comments {
  margin-bottom: 100px;
}

span.drop-cap {
  font-family: "Popular";
  font-size: 100px;
  float: left;
  font-weight: normal;
  margin-top: 35px;
  margin-right: 11px;
  margin-bottom: 26px;
  color: #E74C3C;

  &.pink {
    color: #FF8FC5;
  }
}



.article-body p.Text_ChapterHead {
  font-family: "Popular";
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  color: #000;
  margin-bottom: 10px;
}

.article-body p a,
.l-utility-inner p a {
  color: #333;
  border-bottom: 1px solid #3498DB;
  text-decoration: none;
}

p.summary {
  display: none !important;
}

.subhead-module {
  margin-top: 20px;
  margin-bottom: 55px;


  @media only screen and (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .pub-date {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    display: block;
    text-transform: uppercase;
    color: #959595;
    font-size: .85em;
    font-weight: bold;
    margin-top: .8em;
    letter-spacing: .5px;
  }

  h1 {
    font-family: "Whitman Display";
    text-align: center;
    font-weight: 400;
    font-size: 5.438em;
    padding: 0;
    width: 100%;
    max-width: 970px;
    margin: .7em auto 0 auto;
    line-height: 100%;
    letter-spacing: -.85px;

    @media only screen and (max-width: 767px) {
      font-size: 3em;
    }
  }
}


.l-article-topper.wide {
  display: none;
}

.sidebar {
  .l-article-topper.wide {
    display: block;
  }
}

h1.article-title {
  display: none;
}

p.byline.milli#byline {
  display: none;
}

.article-author-contact {
  margin-top: 4em;
}

.no-side-share .l-article-body {
  width: 100%;

  @media only screen and (max-width: 600px) {
    width: 85%;
  }
}

.content {
  padding: 0;
}

.content.article {
  p {
    margin: 0 auto;
    margin-bottom: 16px;

    @media only screen and (max-width: 640px) {
      padding: 0 10%;
    }
  }
}

p {
  font-family: "Poynter Serif RE", Georgia, Times, serif;
  font-size: 16px;
  line-height: 1.4em;
  margin-bottom: 1em;
  letter-spacing: -0.2px;

  &.byline {
    font-size: 13.5px;
    text-align: center;
    font-family: "Benton Sans";
    font-weight: normal;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    letter-spacing: 0;
    color: #333;

    @media only screen and (max-width: 600px) {
      width: 85%;
    }

    &.mobile {
      line-height: 1.5;
      margin-top: 0;
    }

    a {
      border-bottom: none;
      color: black;
    }
  }
}

.article-author-hcard {
  p {
    font-size: 13px;
    font-family: "Benton Sans";
  }
}

div.comments {
  margin-bottom: 12.5em;
}

div.button-set {
  margin-left: 7.5%;
  margin-top: 40px;
}

.series-article span.tease-section {
  display: none;
}




// STORYBLOCK
// ***********
.storyBlock {
  font-size: 16px;

  &.preview {
    p.Text_Body.preview {
      line-height: 2.1em;
      margin-bottom: 0;
    }
  }

  h3 {
    font-family: Whitman Display, Georgia, Times, serif;
    line-height: 1.25em;
    letter-spacing: normal;
    font-weight: 400;
    padding: .5em 0 0;
    margin: 0 0 .5em;

    @media only screen and (max-width: 600px) {
      font-size: 2em;
    }
  }

  &.Day6 {
    .related-caption.articleReefer {
      margin-right: -1em;
    }

    .sideChart {
      float: right;
      width: 200px;
      font-size: 0.81em;
      line-height: 1em;
      margin-right: -1em;
      margin-top: -.7em;
      margin-bottom: 2em;

      ul {
        list-style-type: disc;
        font-size: .95em;
        padding-left: .2em;

        li {
          margin-top: .25em;
        }
      }

      p {
        font-family: "benton-sans";
      }

      @media (max-width: 767px) {
        float: none;
        max-width: 250px;
        width: 100%;
        display: block;
        text-align: center;
        margin: 2em auto;
      }
    }
  }

  &.Day4 .tipsAccordion {
    p {
      font-family: "benton-sans";
    }

    .accordionMenu {
      h4 {
        background-color: #FFFFFF;
        border-bottom: 1px solid #666;
        cursor: pointer;
        padding: 10px 0;
        color: #444444;
        margin: 0;
      }

      .content {
        background-color: #FFFFFF;
        display: none;
        margin: 0;
        font-size: 0.9em;
        padding: 10px 0 0 10px;

        &.open {
          display: block;
        }
      }
    }

    float: right;
    width: 200px;
    font-size: 0.81em;
    line-height: 1em;
    margin-right: -4em;
    margin-top: -.7em;
    margin-bottom: 2em;

    @media (max-width: 767px) {
      float: none;
      max-width: 250px;
      width: 100%;
      display: block;
      text-align: center;
      margin: 2em auto;
    }
  }

  &.day1sb2 {
    max-width: 525px;
  }

  .drop-caps::first-letter {
    font-family: "Whitman Display", Georgia, Times, serif;
    font-size: 6em;
    float: left;
    line-height: 0.8em;
    margin: 0 0.16667em 0 0;
    font-weight: normal;
  }

  .size-xl {
    margin: 4em 0 2em -83px;

    &.day1-fish,
    &.day2-contusion {
      margin-top: -1em;
    }

    .related-byline {
      display: none;
    }

    &.day2-sidebar {
      .related-byline {
        display: block;
      }
    }
  }

  p.Text_Body {
    max-width: 540px;
  }

  p.Text_Endnote,
  p.Text_Tagline {
    font-style: italic;
    max-width: 540px;
  }

  width: 100%;
  max-width: 800px;
  margin: 0 auto 4em;
  display: inherit;
  text-align: left;

  @media (max-width: 767px) {
    display: block;

    figure {
      margin: 3em 0 1em;
    }

    figcaption {
      color: #FFFFFF;
    }

    iframe {
      display: block;
      margin: 1em auto;
    }
  }

  &.meet {
    h1 {
      font-size: 4.9em;
    }

    .summaryBlockReefers .biosReefer {
      display: none;
    }

    .byline {
      margin-bottom: 4em;

      .spacer-alt {
        display: inline-block;
      }
    }
  }

  .meetMelanie {
    padding: 1em 0;
    width: 525px;
    float: right;
    margin-left: 1em;

    .article-media__video {
      height: 287px;
    }

    @media (max-width: 767px) {
      margin: 1em 0;
    }
  }

  .day3 {
    margin-top: 2em;
    width: 800px;
    display: inline-block;

    &.second {
      width: 400px;
      float: right;
      height: auto;
      display: block;
      margin: 0 0 0 2em;

      .article-media__video {
        height: 222px;
      }
    }

    .article-media__video {
      height: 450px;
    }

    @media (max-width: 767px) {
      margin: 1em 0;
    }

    figcaption {
      display: none;
    }
  }

  .overallPreview {
    margin-top: 4em;
    width: 800px;
    display: inline-block;

    .article-media__video {
      height: 450px;
    }

    @media (max-width: 767px) {
      margin: 1em 0;
    }

    figcaption {
      display: none;
    }
  }

  &.multimedia {
    max-width: 970px;
  }

  .summaryBlockReefers {
    a {
      color: #000000;
      transition: color 500ms;
      text-decoration: none;
    }

    a:hover {
      color: #39563B;
      transition: color 500ms;
      text-decoration: none;
    }

    a:visited {
      color: #000000;
      transition: color 500ms;
      text-decoration: none;
    }

    h4 {
      line-height: 1.9em;
      font-size: 1em;
    }

    float: right;
    width: 175px;
    margin-right: 2.5em;
    margin-top: -.7em;
    margin-bottom: 2em;

    .galleryReefer,
    .biosReefer {
      border-top: 1px solid #333;
      margin-top: 0.7em;
      padding-top: 0.7em;
    }

    .mapReefer {
      font-size: 14px;
      margin-top: 15px;

      h4 {
        font-size: 16px;
        margin-top:.5em;
      }
    }

    .galleryReefer {
      // display: none;
    }

    @media (max-width: 767px) {
      margin-top: 0;

      &.desktop {
        display: none;
      }

      &.mobile {
        width: 100%;
        max-width: 300px;
        text-align: center;
        display: block;
        float: none;
        margin: 4em auto;

        .mapReefer {
          img {
            max-width: 150px;
          }
        }
      }
    }
  }
}

.summaryBlock {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .summaryText {
    text-align: justify;
    float: left;

    p.Text_Body {
      line-height: 1.6em;
    }

    @media (max-width: 767px) {
      text-align: left;
      font-size: 1.3em;
      float: none;
    }
  }
}


.series-article .l-article-body .article-author-contact {
  margin: 3em auto;
}

.series-article .l-article {
  padding-top: 0;
}

.l-navigation-shortnav-container {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

// NEWSLETTER
.inline-newsletter.related-media {
  width: 250px;
  float: right;
  margin: 0.5em -5em 0.5em 0;
  font-size: .9em;
}

.storyBlock.day2 .inline-newsletter.related-media {
  margin-top: -13em;
}

// GALLERY
.article-featured-gallery-mod p {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  margin-top: 6px;
  font-size: 14px;
}
