.story-510080122 {
  .content-area ul.article-tools {
    display: none;
  }

  .l-article-body .article-body {
    width: 100% !important;
    top: -20px;
  }

  .slide {
    height: auto;
    min-height: 100vh;
    width: 100%;

    .wrapper {
      position: absolute;
      width: 650px;
      top: 50%;
      left: 50%;
      max-width: 100%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);

      &.mapFront {
        width: 250px;
        left: 10%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  @media (max-width: 767px) {
    .content {
      padding: 0 !important;
    }
  }

  /*HERO SCENE*/
  #hero_Scene {
    z-index: -1;

    /* position-events: none;*/
    .hero {
      overflow: hidden;
      position: relative;
      height: 100vh;
      margin-bottom: 2.5em;
      margin-top: 0;
      background-position: top left;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      -webkit-animation: introFade 3s 2s ease-out forwards;
      animation: introFade 3s 2s ease-out forwards;
      padding: 0;
    }

    #heroVideo {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      overflow: hidden;
      opacity: 0;
      -webkit-animation: introFade 3s 2s ease-out forwards;
      animation: introFade 3s 2s ease-out forwards;

      @media (max-width: 767px) {
        height: 0;
      }
    }
  }



  .subhead-module {
    position: absolute;
    top: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #ccc;
    z-index: 80;
    opacity: 0;
    -webkit-animation: introFade 3s 7s ease-out forwards;
    animation: introFade 3s 7s ease-out forwards;
    width: 100%;

    @media (max-width: 767px) {
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 85%;
      margin: 20px auto 30px auto;
    }

    h1 {
      font-family: "Whitman Display";
      text-align: center;
      font-weight: 400;
      font-size: 5.438em;
      padding: 0;
      width: 100%;
      max-width: 465px;
      color: #fff;
      margin: 0 auto .7em auto;
      line-height: 100%;
      letter-spacing: -.85px;

      @media (max-width: 767px) {
        font-size: 2.5em;
        letter-spacing: .5px;
      }
    }

    p.byline {
      font-size: 1em;
      text-align: center;
      font-family: "Benton Sans";
      font-weight: normal;
      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 2em;
      letter-spacing: 0;
      color: #ccc;
      line-height: 170%;

      @media (max-width: 767px) {
        font-size: .8em;
      }

      a {
        color: #ccc;
        font-weight: normal;
      }
    }

    .pub-date {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif;
      display: block;
      text-transform: uppercase;
      color: #959595;
      font-size: .85em;
      font-weight: bold;
      margin-top: .8em;
      letter-spacing: .5px;
    }
  }



  /*TEXT SCENE*/
  #text_Scene {
    z-index: 4;
    display: block;
    background-color: rgba(0, 0, 0, .5);

    .textBlock {
      text-align: center;
      font-family: "Benton Sans", Helvetica, Arial, sans-serif;
      font-size: 1.6em;
      display: block;
      line-height: 200%;
      width: 80%;
      max-width: 700px;
      margin: 0px auto;
      text-decoration: none;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      color: #ccc;
      z-index: 8;

      @media (max-width: 767px) {
        font-size: 1em;
        line-height: 150%;
      }
    }
  }





  /*VIDEO SCENE*/
  #video_Scene {
    background-color: rgba(0, 0, 0, .9);

    .myWrapper {
      position: absolute;
      height: 450px;
      z-index: 5;
      opacity: 0;
      -webkit-animation: introFade 1s 2s ease-out forwards;
      animation: introFade 1s 2s ease-out forwards;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);

      @media (max-width: 767px) {
        height: auto;
      }

      iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  span.tease-photo-caption.toggle-photo-caption.icn-video {
    display: none !important;
  }

  .series-article .article-featured-media-wrapper .tease-photo-caption {
    display: none !important;
  }

  .article-featured-media-wrapper.embedded.is-video figcaption {
    display: none !important;
  }

  .overallPreview {
    width: 800px;
    display: block;
  }

  .overallPreview .is-standalone-video {
    height: 450px;
  }

  /*MAP SCENES*/
  .byline.map {
    margin: 1em 0 2em 0;
    text-align: left;
  }

  .referenceMap {}

  .layer {
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 970px;
    height: 750px;
    margin: 0 auto 0 auto;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);

    // opacity: .5;
    &.mapFront {
      background-position: center right;
      background-size: auto;
      background-repeat: no-repeat;
      width: 100%;
      max-width: 970px;
      height: 750px;
      // margin: 40px auto -40px auto;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }

    @media (max-width: 767px) {
      height: 100%;
      opacity: 1;
    }
  }


  #map2_Scene_a,
  #map2_Scene_b,
  #map4_Scene_a,
  #map4_Scene_b,
  #map4_Scene_c {
    // background-color: #ebebec;
    background-color: #ffffff;
  }


  #map1_Scene_a,
  #map1_Scene_b,
  #map3_Scene_a,
  #map3_Scene_b,
  #map3_Scene_c,
  #map5_Scene_a,
  #map5_Scene_b,
  #map5_Scene_c {
    // background-color: #d7d7d7;
    background-color: #ebebeb;
  }

  .slide {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  .slide .pin-wrapper {
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
  }

  @media (max-width: 767px) {
    #map0_Scene .layer {
      display: none;
    }
  }

  #map0_Scene.slide .pin-wrapper {
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
  }

  .slide .wrapper {
    position: absolute;
    background-color: #ffffff;
    padding: 15px;


    @media (max-width: 767px) {
      width: 90% !important;
      background-color: #ffffff;
      padding: 15px;
      left: 50%;
      -webkit-transform-style: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .slide .wrapper.mapFront {
    position: absolute;

    @media (max-width: 998px) {
      left: 2%;
      background-color: #ffffff;
      padding: 12px;
    }

    @media (max-width: 767px) {
      width: 90% !important;
      background-color: #ffffff;
      padding: 12px;
      left: 50%;
      -webkit-transform-style: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .slide .wrapper h2 {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    letter-spacing: -.85px;
    font-size: 1.4em;
    margin: 0 0 .7em 0;
  }

  .slide .wrapper h3 {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding-bottom: .4em;
  }

  .slide .wrapper h4 {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: .4em;
  }

  @media (max-width: 767px) {
    .slide .wrapper h2 {
      font-size: 1.5em;
    }

    .slide .wrapper h3 {
      font-size: 1em;
      padding-bottom: 0;
    }

    .slide .wrapper h4 {
      font-size: .9em;
      padding-bottom: 0;
      margin-bottom: 1em;
    }
  }

  .slide .wrapper .p {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;

    @media (max-width: 767px) {
      font-size: .9em;
    }
  }








  /*MAP 0*/
  #map0_Scene {
    z-index: -10;
  }

  #map0_Scene .layer-0 {
    /* margin-top: 330px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map0.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map0_mobile.png");

    }
  }

  #map0_Scene .layer-0 img {
    /*  opacity: .9;*/
  }

  /*MAP 1*/
  #map1_Scene_a .layer-1 {
    /* margin-top: 330px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map1_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map1_fm.png");
    }
  }

  #map1_Scene_b .layer-1 {
    /* margin-top: 330px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map1_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map1_fm.png");
    }
  }

  #map1_Scene .layer-1 img {
    /*  opacity: .9;*/
  }

  /*MAP 2*/
  #map2_Scene_a .layer-2 {
    /* margin-top: 270px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map2_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map2_fm.png");
    }
  }

  #map2_Scene_b .layer-2 {
    /* margin-top: 270px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map2_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map2_fm.png");
    }
  }

  #map2_Scene .layer-2 img {
    /*  opacity: .8;*/
  }

  /*MAP 3*/
  #map3_Scene_a .layer-3 {
    /* margin-top: 190px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map3_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map3_fm.png");
    }
  }

  #map3_Scene_b .layer-3 {
    /* margin-top: 190px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map3_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map3_fm.png");
    }
  }

  #map3_Scene_c .layer-3 {
    /* margin-top: 190px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map3_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map3_fm.png");
    }
  }

  #map3_Scene .layer-3 img {
    /* opacity: .6;*/
  }

  /*MAP 4*/
  #map4_Scene_a .layer-4 {
    /* margin-top: 110px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map4_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map4_fm.png");
    }
  }

  #map4_Scene_b .layer-4 {
    /* margin-top: 110px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map4_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map4_fm.png");
    }
  }

  #map4_Scene_c .layer-4 {
    /* margin-top: 110px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map4_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map4_fm.png");
    }
  }

  #map4_Scene .layer-4 img {
    /* opacity: .4;*/
  }

  /*MAP 5*/
  #map5_Scene_a .layer-5 {
    /* margin-top: 90px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map5_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map5_fm.png");
    }
  }

  #map5_Scene_b .layer-5 {
    /* margin-top: 90px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map5_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map5_fm.png");
    }
  }

  #map5_Scene_c .layer-5 {
    /* margin-top: 90px;*/
    background-image: url("http://stmedia.startribune.com/images/bwca_map5_f.png");

    @media (max-width: 767px) {
      background-image: url("http://stmedia.startribune.com/images/bwca_map5_fm.png");
    }
  }

  #map5_Scene .layer-5 .layer-5 img {
    /*  opacity: .3;*/
  }

  /*QUOTES SCENE*/
  #quotes_Scene {}

  #quotes_Scene .wrapper.cast {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }

  #quotes_Scene .wrapper.cast .quoteText {
    font-size: 1.5em;
    max-width: 900px;
    text-align: left;
  }

  #quotes_Scene .wrapper .castWrapper {
    margin: 4em auto 0 auto;
    width: 100%;
    max-width: 950px;
  }

  #quotes_Scene .wrapper .cast {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    width: 100%;

    text-align: center;
    margin: 0 0 4em 0;
  }



  #quotes_Scene .wrapper .cast .quote {
    font-family: "Popular-light", serif;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    color: #000;
    text-decoration: none;
    line-height: 160%;
    font-weight: normal;

    @media (max-width: 767px) {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif;
      font-size: 1.2em;
      line-height: 135%;
      margin-bottom: .5em;
    }

  }

  #quotes_Scene .wrapper .cast .author {
    font-family: "Popular", serif;
    font-size: 1em;
    font-weight: normal;

    @media (max-width: 767px) {
      font-family: "Benton Sans", Helvetica, Arial, sans-serif;
      font-size: .8em;
      margin-top: .75em;
    }
  }

  #quotes_Scene .img {
    background-image: none;
  }

  #quotes_Scene .wrapper {
    width: 100%;
    text-align: center;
    top: 40%;
    left: 0;
    max-width: 100%;
  }

  #quotes_Scene .quoteText {
    text-align: center;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-size: 1.9em;
    display: block;
    margin: 0 auto;
    color: #000;
    text-decoration: none;
    line-height: 160%;
    width: 70%;
    max-width: 700px;
  }

  /*LAUNCH SCENE*/
  #launch_Scene {}

  #launch_Scene .img {
    background: url(http://stmedia.startribune.com/images/bwca_prologue-end.jpg) no-repeat top center;
    background-size: cover;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 767px) {
    #launch_Scene .img {
      background: url(http://stmedia.startribune.com/images/bwca_prologue-end-mobilec.png) no-repeat bottom center;
      background-size: cover;
      top: 55%;
      left: 50%;
    }
  }

  #launch_Scene .wrapper {
    width: 80%;
    color: #ffffff;
    background-color: transparent;
    padding: 0;
    text-align: center;
    top: 25%;
    right: unset;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    @media (max-width: 767px) {
      background-color: transparent;
      padding: 0;
      top: 10%;
    }

    @media (max-width: 998px) {
      background-color: transparent;
      padding: 0;
    }
  }

  #launch_Scene .newsletter-signup {
    float: none;
    margin-right: auto;
  }

  #launch_Scene .wrapper .nav-logo {
    display: none;
    margin: 0 auto 1.5em auto;
    background-image: url(http://www.startribune.com/static/img/branding/logos/reverse-startribune-logo-white.png);
    background-image: url(http://www.startribune.com/static/img/branding/logos/reverse-startribune-logo-white.svg);
    background-repeat: no-repeat;
    opacity: 1;
    border-left: none;
    background-color: transparent;
    background-size: 160px;
    background-position: center center;
    padding-bottom: 5px;
  }

  @media (max-width: 767px) {
    #launch_Scene .wrapper .nav-logo {
      display: none;
    }
  }

  #launch_Scene .wrapper h1 {
    font-family: "Whitman Display", serif;
    font-weight: bold;
    font-size: 65px;
    text-shadow: 1px 1px 40px rgba(0, 0, 0, 1);
    line-height: 100%
  }

  @media (max-width: 767px) {
    #launch_Scene .wrapper h1 {
      font-size: 2em;
      line-height: 100%;
    }
  }

  @media (max-width: 767px) {
    #launch_Scene .wrapper .p {
      font-size: .9em;
    }
  }

  #launch_Scene .wrapper .textBox {
    padding: 4px;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  }

  #launch_Scene .wrapper .textBox .p {
    letter-spacing: .5px;
  }

  #launch_Scene .wrapper .textBox .p span {
    font-size: 16px;

    @media (max-width: 767px) {
      display: block;
      margin-bottom: -10px;
    }
  }

  #launch_Scene .wrapper .textBox.pre {
    margin-top: 3em;
  }

  @media (max-width: 767px) {
    #launch_Scene .wrapper .textBox.pre {
      margin-top: 0px;
    }
  }

  #launch_Scene .wrapper .textBox.live {
    margin-top: 20px;
    display: none;
  }

  #launch_Scene .wrapper .textBox.live .btn {
    display: inline-block;
    background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    color: #000000;
    padding: 5px 30px 4px 30px;
    border: solid #666 1px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
  }

  #launch_Scene .wrapper .textBox.live .btn:hover {
    background: #ffffff;
    text-decoration: none;
  }

  // NEWSLETTER
  #launch_Scene aside.inline-newsletter {
    width: 300px;
    // display: none;
    float: none;
    margin: 4em auto 0 auto;

    @media (max-width: 767px) {
      width: 250px;
      margin-top: 1em;
    }

    header h2 {
      display: none;
    }
  }


  .lock .scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
  }

  // ADS
  .teases.ads {
    max-width: 970px;
    width: 100%;
    margin: 4em auto 2em auto;



  }
}
