.series-article .l-article-body .article-body,
.series-article .l-article-body .article-author-contact,
.series-article .l-article-body .comments-section {
  width: 800px;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;

  h3 {
    font-family: Whitman Display, Georgia, Times, serif;
    font-size:2em;
    line-height: 1.25em;
    letter-spacing: normal;
    font-weight: 400;
    padding: .5em 0 0;
    margin: 0 0 .5em;
  }
}


span.dropcap {
  font-size: 80px;
  float: left;
  font-family: "Whitman Display";
  margin-bottom: 0;
  margin-right: 10px;
  line-height: 1;
  font-weight: 400;
  margin-top: -8px;
}



.l-article-body aside.article-share {
  display: none;
}

.site-container {
  padding-top: 0;
}

.float--right {
  float: none !important;
}

.article-tools li {
  width: 45px;
  height: 45px;
}

.article-tools span.twitter,
.article-tools span.facebook {
  background-color: #d3d3d3;
}


footer.site-footer {
  margin-top: 30px;

  ul.story-nav--fit.footer-menu {
    background: transparent;
  }
}


a {
  transition: 0.5s opacity;

  &:hover {
    transition: 0.5s opacity;
    opacity: 0.5;
  }
}

div.related-media {
  float: none;
  clear: both;
}

ul.article-tools {
  display: none;
}

.site-header {
  overflow: visible !important;
}



.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  margin-bottom: 0px;
  overflow: hidden;
  background: black;

  @media only screen and (max-width: 950px) {
    margin-bottom: 0px;
    min-height: 100vh;
  }

  div.background-image {
    background: url(http://stmedia.stimg.co/08_1008169750_12PROVE021719_53468650.JPG?w=2000);
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 60%;
    max-width: 2300px;

    &.day2 {
      background-image: url(http://stmedia.stimg.co/proving-ground-day2-cover.jpg?w=2000);
    }
  }

  .text {
    position: absolute;
    width: 100%;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    padding: 0%;

    @media only screen and (max-width: 900px) {
      width: 90%;
      top: 45%;
    }

    h1 {
      font-family: "Whitman Display";
      font-size: 60px;
      font-weight: bold;
      line-height: 1;
      color: white;
      letter-spacing: 8px;
      word-spacing: 5px;
      line-height: 1.1;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
      text-transform: uppercase;

      @media only screen and (max-width: 900px) {
        font-size: 40px;
        letter-spacing: 1px;
      }
    }
  }
}

div.series-about {
  width: 200px;
  float: right;
  margin-top: 10px;
  margin-bottom: 45px;
  margin-left: 50px;
  margin-right: -125px;

  @media only screen and (max-width: 750px) {
    // display:none;
    width: 150px;
    float: none;
    clear: both;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
  }

  img {
    @media only screen and (max-width: 750px) {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      margin-bottom: -10px;
    }
  }

  h5 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "Popular-bold";
    margin-top: 15px;

    @media only screen and (max-width: 750px) {
      margin-bottom: 0px;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "Popular";
    margin-top: 0px;
    line-height: 1.2;

    @media only screen and (max-width: 750px) {
      margin-top: 5px;
    }
  }
}

p.hero-caption {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 24px;
  font-family: "Benton Sans";
  font-weight: normal;
  margin-top: 15px;
  letter-spacing: 0.05px;
  width: 90%;
  text-align: center;
}

span.dateline {
  text-transform: uppercase;
}

div.photo-widget {
  width: 900px;
  float: none;
  font-family: "Benton Sans";
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
  margin-left: -175px;

  @media only screen and (max-width: 900px) {
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &.float {
    width: 300px;
    float: right;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: -150px;

    @media only screen and (max-width: 900px) {
      width: 50%;
      float: none;
      clear: both;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  img {
    width: 100%;

    @media only screen and (max-width: 900px) {
      min-width: 130%;
      margin-left: -15%;
    }
  }

  div.inline {
    margin-top: 8px;

    img {
      display: inline-block;
      width: 49.5%;

      &.first {
        margin-right: 0.55559%;

        @media only screen and (max-width: 900px) {
          margin-right: 0;
          margin-bottom: 8px;
        }
      }

      @media only screen and (max-width: 900px) {
        display: block;
        width: 100%;
      }
    }
  }

  p.caption {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 24px;
    font-family: "Benton Sans";
    font-weight: normal;
    margin-top: 15px;
    letter-spacing: 0.05px;
    width: 100%;
  }
}

div.graphic-demo {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 80px;
  position: relative;
  margin-left: -125px;

  @media only screen and (max-width: 900px) {
    margin-left: 0;
    margin: 0 auto;
    width: 85%;
    height: auto;
    max-width: 400px;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  h4 {
    font-family: "Benton Sans";
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;

    @media only screen and (max-width: 900px) {
      margin-bottom: 20px;
    }
  }

  p.source-line {
    font-family: "Benton Sans";
    font-weight: normal;
    font-size: 12px !important;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 20px;
  }

  table {
    width: 45%;
    font-family: "Benton Sans";
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;

    @media only screen and (max-width: 900px) {
      width: 100%;
      display: block;
      margin-bottom: 30px;
    }

    &.second {
      margin-left: 9%;

      @media only screen and (max-width: 900px) {
        margin-left: 0;
      }
    }

    tr {
      border-bottom: 1px solid gray;

      &.gray {
        background: light-gray;
      }
    }

    td {
      padding: 5px;

      &.number {
        text-align: right;
      }

      @media only screen and (max-width: 900px) {
        padding: 5px;
      }
    }

    th {
      width: 100%;
      text-align: left;
      padding-bottom: 5px;
      padding-left: 5px;
      font-size: 12px;
      letter-spacing: 0.75px;

      @media only screen and (max-width: 900px) {
        padding-bottom: 5px;
      }
    }
  }
}


div.graphic {
  width: 800px;
  float: none;
  height: 365px;
  background: transparent;
  font-family: "Benton Sans";
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
  position: relative;
  margin-left: -125px;

  @media only screen and (max-width: 900px) {
    margin-left: 0;
    margin: 0 auto;
    width: 85%;
    height: auto;
    max-width: 400px;
    margin-top: 40px;
  }

  div.graphic-hero {
    width: 240px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 100;

    @media only screen and (max-width: 900px) {
      position: relative;
      width: 85%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      top: 0;
    }

    h4 {
      font-family: "Benton Sans";
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    p {
      font-family: "Benton Sans";
      font-size: 14px;
      font-size: normal;
      margin-bottom: 30px;
    }

    div.navigation {
      @media only screen and (max-width: 900px) {
        min-width: 120%;
        margin-left: -10%;
        margin-bottom: 40px;
      }

      div {
        display: inline-block;
        width: 48.5px;
        border: 1px solid #333;
        text-align: center;
        padding: 3px;
        margin-left: -4px;
        font-family: "Benton Sans";
        font-size: 10px;

        @media only screen and (max-width: 900px) {
          padding: 5px;
          width: 55px;
        }

        h3 {
          font-weight: bold;
          letter-spacing: 0.3px;

          @media only screen and (max-width: 900px) {
            margin-bottom: 0;
          }
        }

        &.left-end {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &.right-end {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        &.active {
          background: #333;
          color: white;
        }

        &:hover {
          background: #333;
          color: white;
          cursor: pointer;
          transition: 1s all;
        }
      }
    }
  }

  div.maps-absolute {
    position: relative;
    height: 358px;
    width: 100%;

    @media only screen and (max-width: 330px) {
      height: 324px;
    }

    @media only screen and (min-width: 331px) and (max-width: 380px) {
      height: 360px;
    }

    @media only screen and (min-width: 381px) and (max-width: 420px) {
      height: 385px;
    }

    p.floyd {
      position: absolute;
      font-family: "Benton Sans";
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5px;
      top: 95px;
      z-index: 100;
      left: 260px;
      width: 75px;
      padding: 3px;
      background: rgba(255, 255, 255, 0.3);

      @media only screen and (max-width: 330px) {
        top: 52px;
        left: 126px;
      }

      @media only screen and (min-width: 331px) and (max-width: 380px) {
        top: 58px;
        left: 150px;
      }

      @media only screen and (min-width: 381px) and (max-width: 420px) {
        top: 65px;
        left: 166px;
      }
    }
  }

  div.iowa.iowa2016 {
    display: block;
  }

  div.iowa {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    div.map {
      display: inline-block;
      width: 500px;
      height: auto;
      vertical-align: bottom;

      @media only screen and (max-width: 900px) {
        width: 100%;
        display: block;
      }
    }

    .text {
      width: 240px;
      margin-left: 50px;
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 30px;

      @media only screen and (max-width: 900px) {
        width: 100%;
        display: block;
        margin-left: 0;
        position: relative;
      }

      table {
        width: 100%;
        font-family: "Benton Sans";
        font-size: 14px;

        th {
          width: 33.333%;
          text-align: right;
          padding-right: 10px;
        }

        tr {
          border-bottom: 1px solid gray;
        }

        td {
          padding: 10px;

          &.number {
            text-align: right;
          }

          span.republican {
            color: #F37E80;
            font-weight: bold;
          }

          span.democrat {
            color: #81AEDD;
            font-weight: bold;
          }

          @media only screen and (max-width: 900px) {
            padding: 5px;
          }
        }

        th {
          padding-bottom: 10px;

          @media only screen and (max-width: 900px) {
            padding-bottom: 5px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}


// DAKOTA GRAPHIC
div.graphic-demo.dakota {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 80px;
  position: relative;
  margin-left: -125px;

  @media only screen and (max-width: 900px) {
    margin-left: 0;
    margin: 0 auto;
    width: 85%;
    height: auto;
    max-width: 400px;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  h4 {
    font-family: "Benton Sans";
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;

    @media only screen and (max-width: 900px) {
      margin-bottom: 20px;
    }
  }

  p.source-line {
    font-family: "Benton Sans";
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 20px;
  }

  table {
    width: 45%;
    font-family: "Benton Sans";
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;

    @media only screen and (max-width: 900px) {
      width: 100%;
      display: block;
      margin-bottom: 30px;
    }

    &.second {
      margin-left: 9%;

      @media only screen and (max-width: 900px) {
        margin-left: 0;
      }
    }

    tr {
      border-bottom: 1px solid gray;

      &.gray {
        background: light-gray;
      }
    }

    td {
      padding: 5px;

      &.number {
        text-align: right;
      }

      @media only screen and (max-width: 900px) {
        padding: 5px;
      }
    }

    th {
      width: 100%;
      text-align: left;
      padding-bottom: 5px;
      padding-left: 5px;
      font-size: 12px;
      letter-spacing: 0.75px;

      @media only screen and (max-width: 900px) {
        padding-bottom: 5px;
      }
    }
  }
}


div.graphic.dakota {
  width: 800px;
  float: none;
  height: 365px;
  background: transparent;
  font-family: "Benton Sans";
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
  position: relative;
  margin-left: -125px;

  @media only screen and (max-width: 900px) {
    margin-left: 0;
    margin: 0 auto;
    width: 85%;
    height: auto;
    max-width: 400px;
    margin-top: 40px;
  }

  div.graphic-hero {
    width: 240px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 100;

    @media only screen and (max-width: 900px) {
      position: relative;
      width: 85%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      top: 0;
    }

    h4 {
      font-family: "Benton Sans";
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    p {
      font-family: "Benton Sans";
      font-size: 14px;
      font-size: normal;
      margin-bottom: 30px;
    }

    div.navigation {
      @media only screen and (max-width: 900px) {
        min-width: 120%;
        margin-left: -10%;
        margin-bottom: 40px;
      }

      div {
        display: inline-block;
        width: 48.5px;
        border: 1px solid #333;
        text-align: center;
        padding: 3px;
        margin-left: -4px;
        font-family: "Benton Sans";
        font-size: 10px;

        @media only screen and (max-width: 900px) {
          padding: 5px;
          width: 55px;
        }

        h3 {
          font-weight: bold;
          letter-spacing: 0.3px;

          @media only screen and (max-width: 900px) {
            margin-bottom: 0;
          }
        }

        &.left-end {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &.right-end {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        &.active {
          background: #333;
          color: white;
        }

        &:hover {
          background: #333;
          color: white;
          cursor: pointer;
          transition: 1s all;
        }
      }
    }
  }

  div.maps-absolute {
    position: relative;
    height: 358px;
    width: 100%;

    @media only screen and (max-width: 330px) {
      height: 430px;
    }

    @media only screen and (min-width: 331px) and (max-width: 380px) {
      height: 480px;
    }

    @media only screen and (min-width: 381px) and (max-width: 420px) {
      height: 500px;
    }

    p.dakota {
      position: absolute;
      font-family: "Benton Sans";
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5px;
      top: unset;
      bottom: 21px;
      z-index: 100;
      left: 322px;
      width: 75px;
      padding: 3px;
      background: rgba(255, 255, 255, 0.3);

      @media only screen and (max-width: 330px) {
        bottom: 200px;
        left: 150px;
      }

      @media only screen and (min-width: 331px) and (max-width: 380px) {
        bottom: 213px;
        left: 174px;
      }

      @media only screen and (min-width: 381px) and (max-width: 420px) {
        bottom: 200px;
        left: 197px;
      }
    }
  }

  div.mn.dakota2016 {
    display: block;
  }

  div.mn {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    div.map {
      display: inline-block;
      width: 500px;
      height: auto;
      vertical-align: bottom;

      img {
        margin-left: 120px;

        @media only screen and (max-width: 750px) {
          width: 90%;
          margin-left: 0;
          margin-bottom: 5%;
        }
      }

      @media only screen and (max-width: 750px) {
        width: 100%;
        display: block;
        text-align: center;

      }
    }

    .text {
      width: 240px;
      margin-left: 50px;
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 30px;

      @media only screen and (max-width: 900px) {
        width: 100%;
        display: block;
        margin-left: 0;
        position: relative;
      }

      table {
        width: 100%;
        font-family: "Benton Sans";
        font-size: 14px;

        th {
          width: 33.333%;
          text-align: right;
          padding-right: 10px;
        }

        tr {
          border-bottom: 1px solid gray;
        }

        td {
          padding: 10px;

          &.number {
            text-align: right;
          }

          span.republican {
            color: #F37E80;
            font-weight: bold;
          }

          span.democrat {
            color: #81AEDD;
            font-weight: bold;
          }

          @media only screen and (max-width: 900px) {
            padding: 5px;
          }
        }

        th {
          padding-bottom: 10px;

          @media only screen and (max-width: 900px) {
            padding-bottom: 5px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}


section.comments {
  margin-bottom: 100px;
}

span.drop-cap {
  font-family: "Popular";
  font-size: 100px;
  float: left;
  font-weight: normal;
  margin-top: 35px;
  margin-right: 11px;
  margin-bottom: 26px;
  color: #E74C3C;

  &.pink {
    color: #FF8FC5;
  }
}



.article-body p.Text_ChapterHead {
  font-family: "Popular";
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  color: #E74C3C;
  margin-bottom: 10px;
}

.article-body p a,
.l-utility-inner p a {
  color: #333;
  border-bottom: 1px solid #3498DB;
  text-decoration: none;
}

p.summary {
  display: none !important;
}

.subhead-module {
  margin-top: 50px;
  margin-bottom: 75px;

  @media only screen and (max-width: 900px) {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  h2 {
    font-family: "Whitman Display";
    margin: 0 auto;
    width: 900px;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;

    @media only screen and (max-width: 900px) {
      line-height: 1.4;
      font-size: 22px;
      width: 85%;
    }
  }
}


.l-article-topper.wide {
  display: none;
}

h1.article-title {
  display: none;
}

p.byline.milli#byline {
  display: none;
}

.article-author-contact {
  margin-top: 4em;
}

.no-side-share .l-article-body {
  width: 550px;

  @media only screen and (max-width: 600px) {
    width: 85%;
  }
}

.content.article {
  p {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

p {
  font-family: "Poynter Serif RE", Georgia, Times, serif;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 14px;
  letter-spacing: -0.5px;

  &.byline {
    font-size: 14px;
    text-align: center;
    font-family: "Benton Sans";
    font-weight: normal;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0;
    color: #333;

    @media only screen and (max-width: 600px) {
      width: 85%;
    }

    &.mobile {
      line-height: 1.5;
      margin-top: 0;
    }

    a {
      border-bottom: none;
      color: black;
    }
  }
}

.article-author-hcard {
  p {
    font-size: 13px;
    font-family: "Benton Sans";
  }
}

div.comments {
  margin-bottom: 12.5em;
}

div.button-set {
  margin-left: 7.5%;
  margin-top: 40px;
}

.series-article span.tease-section {
  display: none;
}
